extends header-layout

block content
  .hero-content
    .page-header-overlay
      .container
        .row  
          .col-12
            header.entry-header.text-center.text-white
              h1 ABOUT
  .container
    .row
      .col-12
        .breadcrumbs
          ul.flex.flex-wrap.align-items-center.p-0.m-0
            li
              a(href='../')
                i.fa.fa-home
                |  Home
            li About
    //- các ưu điểm
    .row
      .col-12
        .about-heading
          h2.entry-title Chào mừng bạn đến với Ez
          p
            | Thế giới học tiếng anh cho trẻ em với phương pháp phù hợp cho trẻ nhỏ
      .col-12.col-lg-6
        .about-stories
          h3 Các ưu điểm của Ez
          ul.p-0.m-0.list-unstyled
            li.pt-3 
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Các khóa học được tạo bởi các chuyên gia
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Phương pháp phù hợp nhất với trẻ nhở
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Có thể học ở mọi lúc mọi nơi
      .col-12.col-lg-6
        .about-values
          h3 Các ưu điểm của Ez
          ul.p-0.m-0.list-unstyled
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Nhiều khóa học miễn phí
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Các khóa học đa dạng
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#19c880;") 
              | Giao diện đẹp thu hút sự chú ý của trẻ nhỏ
  
  //- đội ngũ phát triển
  .container
    .row
      .col-12
        .about-heading
          h2.entry-title Đội ngũ phát triển
      .col-12.col-md-6.col-lg-3
        .team-member
          img(src='images/team-1.jpg', alt='')
          h3 Nguyễn văn A 
          h4 thạc sỹ, giáo sư
      .col-12.col-md-6.col-lg-3
        .team-member
          img(src='images/team-1.jpg', alt='')
          h3 Nguyễn văn A 
          h4 thạc sỹ, giáo sư
      .col-12.col-md-6.col-lg-3
        .team-member
          img(src='images/team-1.jpg', alt='')
          h3 Nguyễn văn A 
          h4 thạc sỹ, giáo sư
      .col-12.col-md-6.col-lg-3
        .team-member
          img(src='images/team-1.jpg', alt='')
          h3 Nguyễn văn A 
          h4 thạc sỹ, giáo sư
  
  //- đối tác
  br
  br 
  h2.text-center Các nhà tài trợ
  br
  .contain-sponser.border()
    .container.pt-2.pb-2
      .row
        .col-12.flex.flex-wrap.justify-content-center.justify-content-lg-between.align-items-center
          .logo-wrap
            img(src='images/logo-1.png', alt='')
          .logo-wrap
            img(src='images/logo-2.png', alt='')
          .logo-wrap
            img(src='images/logo-3.png', alt='')
          .logo-wrap
            img(src='images/logo-4.png', alt='')
          .logo-wrap
            img(src='images/logo-5.png', alt='')
  br
  br
  include ./footer.pug