extends header-layout

block content

  // Chào mừng bạn đến với Ez
  .container
    .row
      .col-12
        .about-heading
          h3.entry-title Chào mừng bạn đến với Ez
          p
            | Thế giới học tiếng anh cho trẻ em với phương pháp phù hợp cho trẻ nhỏ
      .col-12.col-lg-6
        .about-stories
          h3 Các ưu điểm của Ez
          ul.p-0.m-0.list-unstyled
            li.pt-3 
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Các khóa học được tạo bởi các chuyên gia
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Phương pháp phù hợp nhất với trẻ nhở
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Có thể học ở mọi lúc mọi nơi
      .col-12.col-lg-6
        .about-values
          h3 Các ưu điểm của Ez
          ul.p-0.m-0.list-unstyled
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Nhiều khóa học miễn phí
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Các khóa học đa dạng
            li.pt-3
              span
                i.fas.fa-check.mr-3(style="color:#0c390e;") 
              | Giao diện đẹp thu hút sự chú ý của trẻ nhỏ

  // đội ngũ chuyên gia
  br
  h3.text-center Đội ngũ chuyên gia
  .container
    .row
      .col-12.col-md-6.col-lg-4
        .team-member
          img(src='https://i.ibb.co/2dyQYLz/mrTu.jpg', alt='chuyên gia')
          h3 Phạm Vũ Minh Tú
          h4 Gv Khoa đa phương tiện 
      .col-12.col-md-6.col-lg-4
        .team-member
          img(src='https://i.ibb.co/J5TMyCC/missHue.jpg', alt='chuyên gia')
          h3 Bùi Thu Huế
          h4 Gv Khoa đa phương tiện 
      .col-12.col-md-6.col-lg-4
        .team-member
          img(src='https://i.ibb.co/ZWyK2gG/miss-Ngancrop.jpg', alt='chuyên gia')
          h3 Hà Thị Hồng Ngân
          h4 Gv Khoa đa phương tiện 
  

  // các nhà tài trợ chính
  br
  h3.text-center Các nhà tài trợ
  .contain-sponser
    .container.pt-2.pb-2
      .row
        .col-lg-4.col-12.text-center.text-lg-right
          .logo-wrap
            img(src='images/sponser1.png', alt='sponser1' width="50%")
        .col-lg-4.col-12
          .logo-wrap.text-center
            img(src='images/sponser2.jpg', alt='sponser2' width="50%")
        .col-lg-4.col-12
          .logo-wrap.text-center.text-lg-left
            img(src='images/sponser3.png', alt='sponser3' width="50%")
    br
    br
  include ./footer.pug