block foot
// footer
br
footer(style="background:#0c390e;")

  // footer website
  .container.pt-5.pb-5
    .row
      .col-12.col-lg-3
        a(href="../")
          img(src='https://i.ibb.co/ZdCCqzq/Logo-EZ.png', alt='Logo-EZ', width='80%')
      .col-12.col-lg-3
        h4.text-white English Easy
        ul.list-unstyled.text-white
          li
            a.text-reset(href='../about') Giới thiệu về EZ
          li
            a.text-reset(href='') EZ tư vấn
          li
            a.text-reset(href='../courses') Các khóa học
      .col-12.col-lg-3
        h4.text-white Hỗ trợ
        ul.list-unstyled.text-white
          li
            a(href="") Hotline : (84-24) 3574 2856
          li
            a(href="") Các câu hỏi thường gặp
          li
            a(href="") Gửi các yêu cầu hỗ trợ
      .col-12.col-lg-3
        h4.text-white Theo dõi chúng tôi
        ul.list-unstyled.text-white
          li
            a(href='https://www.facebook.com/English-easy-411633356050402/?modal=admin_todo_tour' target="_black")
              span(style='font-size: 1em; color:dark;')
                i.fab.fa-facebook-square.mr-3
                | Facebook
          li
            a(href='https://www.youtube.com/channel/UCaqueoC7xoyynPY83JxY0Hg' target="_black")
              span(style='font-size: 1em; color:dark;')
                i.fab.fa-youtube.mr-3
                | Youtube
          li
            a(href='https://www.instagram.com/' target="_black")
              span(style='font-size: 1em; color:dark;')
                i.fab.fa-instagram.mr-3
                | Instagram

  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js')
  script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
  script(src='/javascripts/custom.js')
  
  script
   | AOS.init();

  if checkLogged
    script(src='/javascripts/dangxuat.js')