block foot
// footer
br
.bg-light.pt-5.pb-5
  .container
    .row
      .col-12.col-sm-4
        p
          b H&#x1ED7; tr&#x1EE3;
        p Hotline: 19001000
        p T&#x1ED5;ng &dstrok;&agrave;i t&#x1B0; v&#x1EA5;n: 19001000
        p c&acirc;u h&#x1ECF;i th&#x1B0;&#x1EDD;ng g&#x1EB7;p
      .col-12.col-sm-4
        p
          b Theo d&otilde;i
        p
          span.mr-2
            i.fas.fa-envelope-square.fa-2x
          |  Email
        p
          span.mr-2
            i.fab.fa-facebook-square.fa-2x
          |  Facebook
        p
          span.mr-2
            i.fab.fa-twitter-square.fa-2x
          |  Twitter
      .col-12.col-sm-4
        p
          b &Dstrok;&#x1ECB;a ch&#x1EC9;
        p &Dstrok;&#x1ECB;a ch&#x1EC9;: 123 Tr&#x1EA7;n Ph&uacute;, H&agrave; &Dstrok;&ocirc;ng, H&agrave; N&#x1ED9;i
        p Gmail: ez123@gmail.com
        p sdt: 0984.123.467

  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js')
  script(src='/javascripts/custom.js')

  if checkLogged
    script(src='/javascripts/dangxuat.js')