extends header-layout

block content
  .hero-content
    .hero-content-overlay
      .container
        .row
          .col-12
            .hero-content-wrap.flex.flex-column.justify-content-center.align-items-start
              header.entry-header
                h4 Get started with online courses
                h1
                  | best online
                  br
                  | Learning system
              .entry-content
                p
                  | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              footer.entry-footer.read-more
                a(href='../about') read more
  // các khóa học tiêu biểu
  section.featured-courses.horizontal-column.courses-wrap
    .container
      .row
        .col-12
          header.heading.flex.justify-content-between.align-items-center.flex-column.flex-lg-row
            h3.entry-title.text-center Các khóa học nổi bật
            a.btn.mt-4.mt-sm-0(href='../courses') Xem tất cả

        each course in dataCourse
          .col-12.col-lg-6
            .course-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
              figure.course-thumbnail
                a(href='#')
                  img(src=`${course.img_baner}`, width="100%" alt='')
              .course-content-wrap
                header.entry-header
                  .course-ratings.flex.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  h2.entry-title
                    a(href=`../detail?idCourse=${course.id}`)= course.name_course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      //- a(href='#') Ms. Lara Croft 
                    .course-date July 21, 2018
                footer.entry-footer.flex.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free
 
 
  // giới thiệu về ez
  section.about-section
    .container
      .row
        .col-12.col-lg-6.align-content-lg-stretch
          header.heading
            h2.entry-title Thông tin về Ez
            p
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
          .entry-content.ezuca-stats
            .stats-wrap.flex.flex-wrap.justify-content-lg-between
              .stats-count
                | 50
                span M+
                p STUDENTS LEARNING
              .stats-count
                | 30
                span K+
                p ACTIVE COURSES
              .stats-count
                | 340
                span M+
                p INSTRUCTORS ONLINE
              .stats-count
                | 20
                span +
                p Country Reached
        .col-12.col-lg-6.flex.align-content-center.mt-5.mt-lg-0
          .ezuca-video.position-relative
            img(src='images/video-screenshot.png', alt='')

  // đánh giá
  br
  br
  .container
      h2.entry-title(style="margin: 0;font-size: 42px;font-weight: 400;") Phản hồi của người dùng
  section.testimonial-section
    // Swiper
    .swiper-container.testimonial-slider
      .swiper-wrapper
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.order-2.order-lg-1.flex.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-1.jpg', alt='')
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Together as teachers, students and universities we can help make this education available for everyone.
                .entry-footer
                  h3.testimonial-user
                    | Russell Stephens - 
                    span University in UK
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.order-2.order-lg-1.flex.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-2.jpg', alt='')
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // .entry-content
                .entry-footer
                  h3.testimonial-user
                    | Robert Stephens - 
                    span University in Oxford
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.flex.order-2.order-lg-1.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-3.jpg', alt='')
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                .entry-footer
                  h3.testimonial-user
                    | James Stephens - 
                    span University in Cambridge
      .container
        .row
          .col-12.col-lg-6.mt-5.mt-lg-0
            .swiper-pagination.position-relative.flex.justify-content-center.align-items-center




  include footer.pug

//- extends footer