extends header-layout

block content
  .hero-content
    .hero-content-overlay
      .container
        .row
          .col-12
            .hero-content-wrap.flex.flex-column.justify-content-center.align-items-start
              header.entry-header
                h4 Bắt đầu khóa học với chúng tôi
                h1
                  |  HỆ THỐNG HỌC TIẾNG ANH ONLINE CHẤT LƯỢNG NHẤT
                  br
                  //- | HỆ THỐNG HỌC TIẾNG ANH ONLINE CHẤT LƯỢNG NHẤT 
              .entry-content
                p
                  //- | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
              footer.entry-footer.read-more
                a(href='../about') Xem thêm

                
  // giới thiệu về ez
  section.about-section
    .container
      .row
        .col-12.col-lg-6.align-content-lg-stretch
          header.heading
            h2.entry-title Thông tin về Ez
            p
              //- | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
          .entry-content.ezuca-stats
            .stats-wrap.flex.flex-wrap.justify-content-lg-between
              .stats-count
                | 50
                span M+
                p STUDENTS LEARNING
              .stats-count
                | 30
                span K+
                p ACTIVE COURSES
              .stats-count
                | 340
                span M+
                p INSTRUCTORS ONLINE
              .stats-count
                | 20
                span +
                p Country Reached
        .col-12.col-lg-6.flex.align-content-center.mt-5.mt-lg-0
          .ezuca-video.position-relative
            img(src='images/video-screenshot.png', alt='')

  // các khóa học tiêu biểu
  section.featured-courses.horizontal-column.courses-wrap
    .container
      .row
        .col-12
          header.heading.flex.justify-content-between.align-items-center.flex-column.flex-lg-row
            h3.entry-title.text-center Các khóa học nổi bật
            a.btn.mt-4.mt-sm-0(href='../courses') Xem tất cả

        each course in dataCourse
          .col-12.col-lg-6
            .course-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
              figure.course-thumbnail
                a(href='#')
                  img(src=`${course.img_baner}`, width="100%" alt='')
              .course-content-wrap
                header.entry-header
                  .course-ratings.flex.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  h2.entry-title
                    a(href=`../detail?idCourse=${course.id}`)= course.name_course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      //- a(href='#') Ms. Lara Croft 
                    .course-date July 21, 2018
                footer.entry-footer.flex.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free
 
 

  // đánh giá
  br
  br
  .container
    h2.entry-title(style="margin: 0;font-size: 42px;font-weight: 400;") Phản hồi của người dùng

  //- .container.mt-5.mb-5
  //-   #carouselExampleIndicators.carousel.slide(data-ride='carousel')
  //-     ol.carousel-indicators
  //-       li.active.bg-dark(data-target='#carouselExampleIndicators', data-slide-to='0')
  //-       li.bg-dark(data-target='#carouselExampleIndicators', data-slide-to='1')
  //-       li.bg-dark(data-target='#carouselExampleIndicators', data-slide-to='2')
  //-     .carousel-inner
  //-       .carousel-item.active
  //-         div.phanhoi.d-flex.align-items-center.m-auto(style="width:40%")
  //-           div.m-3
  //-             img(src='images/user-1.jpg', alt='First slide')
  //-           div
  //-             p EZ là một website tuyệt vời cho các bé học tiếng anh
  //-       .carousel-item
  //-         div.phanhoi.d-flex.align-items-center.m-auto(style="width:40%")
  //-           div.m-3
  //-             img(src='images/user-2.jpg', alt='...')
  //-           div
  //-             p Bé học tiếng anh trên EZ thực sự rất hiệu quả nhờ hình ảnh sinh động, trục quan, nội dung rất hay và phù hợp với các bé.
  //-       .carousel-item
  //-         div.phanhoi.d-flex.align-items-center.m-auto(style="width:40%")
  //-           div.m-3
  //-             img(src='images/user-3.jpg', alt='...')
  //-           div
  //-             p Rất vui vì biết đến EZ. Một trang học trực tuyến hiệu quả với chi phí phù hợp.
  //-     //- a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
  //-     //-   span.carousel-control-prev-icon(aria-hidden='true')
  //-     //-   span.sr-only Previous
  //-     //- a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
  //-     //-   span.carousel-control-next-icon(aria-hidden='true')
  //-     //-   span.sr-only Next

  include footer.pug

//- extends footer