extends header-user

block content
  // các khóa học của bạn
  // các khóa học
  br
  .container
    h4.text-center.text-sm-left C&aacute;c kh&oacute;a h&#x1ECD;c c&#x1EE7;a b&#x1EA1;n
    br
    .row
      .col-sm-4.col-12.mb-4
        a.text-dark(href='../users/courses/detail', style='text-decoration:none; ')
          .m-auto.border.p-2(style='width:100%;box-shadow:0px 1px 3px 1px #bebed8;')
            img(src='https://picsum.photos/400/300?', width='100%', alt='')
            h5 t&ecirc;n kh&oacute;a h&#x1ECD;c
            p th&ocirc;ng tin v&#x1EC1; kh&oacute;a h&#x1ECD;c, d&agrave;nh cho ai? d&#x1EAD;y v&#x1EC1; n&#x1ED9;i dung g&igrave;?
            hr
            button.btn.btn-primary.btn-lg.btn-block(type='button') tham gia
      // khóa thứ2
      .col-sm-4.col-12.mb-4
        a.text-dark(href='#', style='text-decoration:none; ')
          .m-auto.border.p-2(style='width:100%;box-shadow:0px 1px 3px 1px #bebed8;')
            img(src='https://picsum.photos/400/300?', width='100%', alt='')
            h5 t&ecirc;n kh&oacute;a h&#x1ECD;c
            p th&ocirc;ng tin v&#x1EC1; kh&oacute;a h&#x1ECD;c, d&agrave;nh cho ai? d&#x1EAD;y v&#x1EC1; n&#x1ED9;i dung g&igrave;?
            hr
            button.btn.btn-primary.btn-lg.btn-block(type='button') tham gia
      // khóa thứ3
      .col-sm-4.col-12.mb-4
        a.text-dark(href='#', style='text-decoration:none; ')
          .m-auto.border.p-2(style='width:100%;box-shadow:0px 1px 3px 1px #bebed8;')
            img(src='https://picsum.photos/400/300?', width='100%', alt='')
            h5 t&ecirc;n kh&oacute;a h&#x1ECD;c
            p th&ocirc;ng tin v&#x1EC1; kh&oacute;a h&#x1ECD;c, d&agrave;nh cho ai? d&#x1EAD;y v&#x1EC1; n&#x1ED9;i dung g&igrave;?
            hr
            button.btn.btn-primary.btn-lg.btn-block(type='button') tham gia
      // khóa thứ4
      .col-sm-4.col-12.mb-4
        a.text-dark(href='#', style='text-decoration:none; ')
          .m-auto.border.p-2(style='width:100%;box-shadow:0px 1px 3px 1px #bebed8;')
            img(src='https://picsum.photos/400/300?', width='100%', alt='')
            h5 t&ecirc;n kh&oacute;a h&#x1ECD;c
            p th&ocirc;ng tin v&#x1EC1; kh&oacute;a h&#x1ECD;c, d&agrave;nh cho ai? d&#x1EAD;y v&#x1EC1; n&#x1ED9;i dung g&igrave;?
            hr
            button.btn.btn-primary.btn-lg.btn-block(type='button') tham gia
