doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title home
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/index.css')

// header
.bg-light
  .container
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='../') H&#x1ECD;c ti&#x1EBF;ng anh
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse.ml-auto.justify-content-end
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='../users/courses') C&aacute;c kh&oacute;a h&#x1ECD;c
          li.nav-item
            a.nav-link(href='#') qu&#x1EA3;n l&yacute; t&agrave;i kho&#x1EA3;n
          li.nav-item
            a.nav-link(href='#') &Dstrok;&abreve;ng xu&#x1EA5;t

block content