extends ../header-layout

block content
  br
  // các khóa học của bạn
  .container
    // Nav tabs
    ul.nav.nav-tabs.containInforUser.flex-nowrap
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#home') Thông tin cá nhân
      li.nav-item
        a.nav-link(data-toggle='tab', href='#menu1') Khóa học đã tham gia
      li.nav-item
        a.nav-link(data-toggle='tab', href='#menu2') Các bài test
    // Tab panes
    .tab-content
      #home.tab-pane.container.active 
        include userProfile.pug
      #menu1.tab-pane.container.fade 
        include userTakeCourse.pug 
      #menu2.tab-pane.container.fade  
        include userTest.pug

  .container
    


  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script(src='/javascripts/dangxuat.js')

  include ../footer.pug