extends ../header-layout
block content
  // dang ký
  .container.d-flex.vh-100.align-items-center
    #signup.w-50.m-auto.w-50.m-auto
      h2.text-center(href='#', onclick='return false') &Dstrok;&abreve;ng K&yacute;
      if error
        .alert.alert-danger= error 
      form(action='', method='POST')
        .form-group.row
          input#Username.form-control(type='text', name='name', placeholder='Username', maxlength='34', required='required', autofocus='autofocus')
        .form-group.row
          input#userEmail.form-control(type='text', name='email', placeholder='Email', maxlength='34', pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$', required='required')
        .form-group.row
          input#Phone.form-control(type='text', name='phone', placeholder='Phone', maxlength='15', pattern='[0-9]{9,16}', required='required')
        .form-group.row
          input#inputPassword.form-control(type='password', name='password', placeholder='Password', maxlength='8', required='required')
        .form-group.row
          input#conFirmInputPassword.form-control(type='password', name='cfPassword', placeholder='Confirm password', maxlength='8', required='required')
        .form-group.row
          button.btn.btn-primary.btn-lg.btn-block &Dstrok;&abreve;ng K&yacute;  
        hr
        .d-flex.justify-content-between
          p &Dstrok;&abreve;ng k&yacute; b&#x1EB1;ng
          a(href='./login') &Dstrok;&abreve;ng Nh&#x1EAD;p
        .form-group.d-flex
          .mr-1
            button.btn.btn-primary facebook
          .mr-1
            button.btn.btn-primary google

            
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')