.phanhoi p{
  font-size: 26px;
}

@media screen and (max-width: 662px) {
  .phanhoi p{
    font-size: 26px;
  }
}

.carousel-indicators .active{
  background-color: #0c390e !important;
}

/* tabs index user */
.containInforUser .active{
  background-color: #0c390e !important;
  color: white !important;
}

/* for play sound */
.fa-volume-up{
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}
.fa-volume-up:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.itemLearn{
  transition: all 0.1s;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.itemLearn:hover{
  cursor: pointer;
  opacity: 0.6;
}

/* user on header  */
.iconUserHeader{
  position: relative;
}
.iconUserHeader ul{
  display: none;
}

.showhiddenIconUserHeader{
  display: inline-block !important;
}

@media screen and (max-width: 662px) {
  .iconUserHeader ul{
    display: inline-block;
    position: initial !important;
    width: 100% !important;
    background:rgba(1,1,1,0) !important;
    padding: 0px 30px;
  }
  .iconUserHeader ul li{
    text-align: left;
  }
}